/* Base styles for mobile */
.mainCard img {
    height: 150px;
    width: 150px;
    border-radius: 50%;
    object-fit: cover;
    box-shadow: 0 0 7px gray;
    object-position: center top;
    margin: 0 0 30px 0;
  }
  .main {
    display: flex;
    padding: 20px;
    justify-content: center;
    animation-name: fadeInLeft;
    animation-duration: 1s;
    animation-fill-mode: both;
    flex-direction: column;
    text-align: center;
    align-items: center;
  }
  .main h1{
    font-size: 25pt;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
  }
  
  @keyframes fadeInRight {
    0% {
      opacity: 0;
      transform: translateX(100%);
    }
    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }
  
.mainCard {
    padding: 4%;
    margin: 0 5%;
    border-radius: 15px;
    /* background: lightgoldenrodyellow; */
    box-shadow: 0 0 10px gray;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    height:450px;
    margin: 20px;
    max-width: 400px;
    justify-content: center;
    background-color: white;
    
}
  
  .mainCard h1 {
    font-size: 1.5rem;
    font-weight: bolder;
  }
  .inner{
    display: flex;
  }
  .mainCard p {
    word-wrap: break-word;
    overflow-wrap: break-word;
    font-weight: bolder;
    font-style: italic;
    text-align: center;
  }

  
  /* Media query for desktop screens */
  @media (max-width: 900px) {
    .mainCard {
      width: fit-content;
      margin: 10px;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
    .mainCard img{
        height: 150px;
        
    }
  
    .mainCard h1 {
      font-size: 2rem;
    }
    .inner{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 10px;
      
    }
  }
  .aboutUs {
    width: 92vw;
    /* height: 40vh; */
    box-shadow: 0 0 10px #808080;
    margin: 0 0 20px 0;
    border-radius: 20px;
    position: relative; /* Added position relative */
    padding: 20px;
    
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .aboutUs::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    background: url('./aboutUs.jpg') no-repeat;
    background-size: cover;
    filter: brightness(40%);
    z-index: -1; /* Places the background behind the content */
  }
  
  /* Content within .aboutUs */
  .inner-content {
    position: relative; 
    z-index: 1; 
    color: black;
    
  }
  .inner-content p{
    font-size: 15pt;
    width: 75vw;
    
  }
.ourTeam {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  box-shadow: 0 0 10px gray;
  margin: 30px 0;
  width: 92vw;
  position: relative; /* Added position relative to enable z-index positioning */
}

.ourTeam::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 20px;
  background: url('./outTeam.jpg');
  filter: brightness(30%);
  z-index: -1;
}

/* Content within .ourTeam */
.inner {
  position: relative;
  z-index: 1; 
}
