.school {
  position: relative;
  height: 80vh;
  width: 100vw;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.school::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url('./Pakturk.jpg') no-repeat;
  background-size: cover;
  background-position: center; 
  filter: brightness(20%); 
  
}

.school h1,
.school p ,button{
  position: relative;
  z-index: 1;
  color: white;
}
/* 
@media screen and (max-width: 900px) {
  .school::before {
    background-size: 100% 100%;
  }

} */

.school h1{
  font-weight: 1000;
  font-size: 40pt;
  font-family:'Times New Roman', Times, serif;
  color: white;
  
  text-shadow: 
    1px 0 black,
    0 1px black,
    1px 1px black,
    -1px 0 black,
    0 -1px black,
    -1px -1px black;
}

.school p {
  width: 40vw;
  margin: 0 auto;
}


@media (max-width: 600px) {
  .school p {
    width: 70vw;
  }
}


